server:
  port: 8080
spring:
  profiles:
    active: dev
---
spring:
  profiles: dev 
  datasource:
    url: jdbc:mysql://localhost:3306/springtutorialmovies?createDatabaseIfNotExist=true
    username: root
    password: 
---
spring:
  profiles: prod
  datasource:
    url: jdbc:mysql://${DB_HOST_NAME}:3306/springtutorialmovies?createDatabaseIfNotExist=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
---
spring:
  profiles: ci
  datasource:
    url: jdbc:mysql://database:3306/springtutorialmovies?createDatabaseIfNotExist=true
    username: root
    password: root
---
spring:
  profiles: bitbucketpipelines
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/springtutorialmovies?createDatabaseIfNotExist=true
    username: root
    password: root